*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quattrocento', serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding-left: 40px;
}
.col-2 img{
    max-width: 100%;
    padding: 0;
    width: 400px;
    height: 400px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.10s;
}
.btn:hover{
   background: rgb(31, 24, 25);
}
.header{
    background: radial-gradient(#fff, #ffd6d6);
}

.header .row{
    margin-top: 10px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: coral;
}
.title::after{
    content: '';
    background:rgb(99, 79, 82);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4{
    font-size: 14px;
}
.rating{
    color: rgb(209, 104, 104);
}
.col-4:hover{
    transform: translateY(-10px);
}
/*---- offer----*/

.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
small{
    color: rgb(32, 3, 26);
    text-align: justify;
    text-justify: inter-word;
}

/*------ testimonial -----*/

.testimonial{
    padding-top: 100px;
}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img{
    width: 120px;
    margin-top: 20px;
    border-radius: 100%;
}
.testimonial .col-3:hover{ 
    transform: translateY(-10px);
}